.calculator-container {
  max-width: 400px;
  margin: 50px auto;
  background-color: #36393f;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.input-display {
  width: 100%;
  padding: 10px;
  font-size: 1.5em;
  background-color: #2f3136;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  margin-bottom: 10px;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

button {
  width: 100%;
  margin: 10px;
  padding: 15px;
  font-size: 1.2em;
  background-color: #7289da;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #677bc4;
}

.equal {
  background-color: #43b581;
}

.clear {
  background-color: #f04747;
}

.result-display {
  margin-top: 20px;
}

.result-text {
  font-size: 1.2em;
  color: #ffffff;
}

.history-icon {
  cursor: pointer;
  margin-top: 20px;
  font-size: 1.5em;
}

.history-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #36393f;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.history-title,
.history-text,
.history-item {
  color: #ffffff;
}

.close-btn {
  background-color: #43b581;
  color: #ffffff;
  padding: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.close-btn:hover {
  background-color: #3a944e;
}

@media (max-width: 600px) {
  .calculator-container {
    max-width: 100%;
    padding: 10px;
  }

  button {
    padding: 10px;
    font-size: 1em;
  }

  .input-display {
    padding: 8px;
  }

  .close-btn {
    padding: 10px;
  }
}
